#MainBlock {
    color: var(--md-sys-color-on-surface);
    padding: 25px;
    padding-left: 50px;
}

#MainBlock h1,
#MainBlock h2 {
    text-align: center;
}

#MainBlock ul,
#MainBlock ol {
    display: flex;
    flex-direction: column;
    gap: 15px;
}